/*-----------------acceder-----------*/

.main {
    .h1chico {
        justify-content: center;
        
        .contH1{
            padding: 0;
            margin-top: 1.4rem;
            width: auto;
            
            div{
                border-radius: 1.1rem;
                h1{
                    font-size: 3rem;
                    padding: 1rem 2rem;
                }
                p {
                    padding: 1.5rem;
                    font-size: 1.5rem;
                }
            }
        }
    }
    .acceso {
        .acceso__formularios{
            justify-content: space-around;
            margin: 3rem 0;
            .acceso__registro {
                background-color: map-get($form, colorFondo);
                padding: map-get($form, pad);
                border-radius: map-get($form, b-rad);
                box-shadow: $box-shadow;
                section{
                    form{
                        input[type=text],[type=email],[type=password]{
                            @extend .inputZ;
                        }
                        select {
                            @extend .inputZ;
                        }
                        input[type=submit],[type=reset] {
                            @extend .boton;
                        }
                    }
                }
            }
            .acceso-log {
                @extend .acceso__registro;
                form{
                    div{
                        input{
                            @extend .inputZ;
                        }
                    }
                    button{
                        @extend .boton;
                    }
                }
            }
        }
    }
}