/*-----------contacto-------------*/
.contacto {
    justify-content: center;

    .columnaContacto {
        form {
            @include flex(flex, column, nowrap);
            align-content: center;

            input[type=text],[type=email] {
                @extend .inputZ;
            }
            textarea {
                resize: none;
            }
        }
    }
    div{
        &:nth-child(2) {
            iframe{
                width: 100%;
                height: 75%;
            }
        }
    }
}