.footer {
    background-color: #616161b0;
    padding: 1rem .5rem;

    div {
        .terminos {
            

            p {
                font-size: 1.3rem;
                color: #000;
            }
        }

        .Fcont {
            div {
                p {
                    font-size: 1.4rem;
                    margin: 0;
                }
            }
        }

        .Fredes {

            div {
                a {
                    font-size: 1rem;
                    display: block;
                    text-decoration: none;

                    div {
                        display: flex;
                        p{
                            font-size: 1.3rem;
                        }

                        .fa-facebook {
                            width: 2.5rem;
                            height: 2.5rem;
                            margin-right: .5rem;
                            color: #3b5998;
                        }

                        .fa-instagram {
                            @extend .fa-facebook;
                            color: #C13584;
                        }
                        .fa-twitter{
                            width: 2rem;
                            height: 2rem;
                            margin-right: .9rem;
                        }

                       
                    }
                }
            }
        }
    }

}