/*---------header---------*/
.header {
    .logo {
        grid-column:  1 / 2;
        grid-row: 1 / 5;
        display: block;
        width: 25rem;
        height: 10rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .logCart {
        grid-column: 5 / 9;
        grid-row: 1 / 2;
        text-align: end;
        a {
            text-decoration: none;
            font-weight: bold;
            
            color: $textPrimario;
            display: inline-block;
            padding: .5rem 0;
            .fa-cart-flatbed-suitcase{
                color: #931616;
                width: 3rem;
                height: 2.5rem;
                margin: .5rem .5rem 0 0;
            }
        }
    }
    .nav {
        grid-column: 1 / 9;
        grid-row: 4 / 5;
        justify-content: end;
    }
    .contNavRes {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        display: none;
        background-color: inherit;
        .respBCG{
            background-color: #CFCCCC;
            div {
                ul {
                    li{
                        border-bottom: $bordeDeco;
                        &:last-child{
                            margin-bottom: 0.5rem;
                        }
                    }
                }
                form {
                    button{
                        @extend .boton;
                    }
                }
            }
        }
    }
}
/*----------------nav----------------*/
.nav {
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;
        gap: 1rem;
        margin-right: 9rem;
        align-items: center;

        li {
            border-radius: .6rem;
            display: inline-block;
            box-sizing: border-box;
            a {
                text-decoration: none;
                color: $textPrimario;
                font-size: 2.4rem;
                
                padding: 0.5rem;
            }
            &:hover {
                background-color: #31313134;
            }
        }
    }
}
/*---------------------buscador-----------------*/
.buscador {
    background-color: inherit;
    .buscNav {
        background-color: inherit;
        .contBuscador {
            justify-content: end;
            form {
                input{
                    @extend .inputZ;
                }
                button {
                    @extend .boton;
                }
            }
        }
    }
 }