/*---------------vuelos/paquetes-------------*/
.formVuelos {
    p {
        margin: 0;
    }

    form {
        @include flex(flex, column, .7rem);
        
        .vuelosRadio {
            flex-flow: row;
            margin:  .5rem  0;
        }
        .paqRadio {
            @extend .vuelosRadio;
        }
        .disneyRadio {
            @extend .vuelosRadio;
        }

        div {
            div{
                div{
                    input{
                        @extend .inputZ;
                    }
                }
                .select {
                    @extend .inputZ;
                }
                button {
                    @extend .boton;
                }
                .inputCol {
                    input {
                        @media (max-width:375px){
                            width: 100%;
                        }
                    }
                    @media (max-width:375px){
                        flex-direction: column;
                    }
                }
            }
            .vuelosBoton {
                display: flex;
                justify-content: end;
            }
        }
    }

}