html {
  font-size: 63.5%; }

* {
  padding: 0;
  margin: 0; }

body {
  font-size: 1.6rem; }

.boton, .header .contNavRes .respBCG div form button, .buscador .buscNav .contBuscador form button, .formVuelos form div div button, .main .acceso .acceso__formularios .acceso__registro section form input[type=submit], .main .acceso .acceso__formularios .acceso-log section form input[type=submit], .main .acceso .acceso__formularios .acceso__registro section form [type=reset], .main .acceso .acceso__formularios .acceso-log section form [type=reset], .main .acceso .acceso__formularios .acceso-log form button, .sli-disney .art-slide-disney button, .contacto .columnaContacto form div div button, .carritoCont button {
  background: linear-gradient(0deg, #95c0f6 0%, #3e7ac7 100%);
  font-size: 1.5rem;
  color: #fff;
  border: none;
  transition: all .5s; }
  .boton:hover, .header .contNavRes .respBCG div form button:hover, .buscador .buscNav .contBuscador form button:hover, .formVuelos form div div button:hover, .main .acceso .acceso__formularios .acceso__registro section form input:hover[type=submit], .main .acceso .acceso__formularios .acceso-log section form input:hover[type=submit], .main .acceso .acceso__formularios .acceso__registro section form :hover[type=reset], .main .acceso .acceso__formularios .acceso-log section form :hover[type=reset], .main .acceso .acceso__formularios .acceso-log form button:hover, .sli-disney .art-slide-disney button:hover, .contacto .columnaContacto form div div button:hover, .carritoCont button:hover {
    background: linear-gradient(180deg, #95c0f6 0%, #3e7ac7 100%); }

.contenedor {
  background-color: #CFCCCC;
  justify-content: center; }

.cajaGrilla, .sli-disney {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr); }

.main {
  justify-content: center;
  padding: 0; }

.inputZ, .buscador .buscNav .contBuscador form input, .formVuelos form div div div input, .formVuelos form div div .select, .main .acceso .acceso__formularios .acceso__registro section form input[type=text], .main .acceso .acceso__formularios .acceso-log section form input[type=text], .main .acceso .acceso__formularios .acceso__registro section form [type=email], .main .acceso .acceso__formularios .acceso-log section form [type=email], .main .acceso .acceso__formularios .acceso__registro section form [type=password], .main .acceso .acceso__formularios .acceso-log section form [type=password], .main .acceso .acceso__formularios .acceso__registro section form select, .main .acceso .acceso__formularios .acceso-log section form select, .main .acceso .acceso__formularios .acceso-log form div input, .contacto .columnaContacto form input[type=text], .contacto .columnaContacto form [type=email] {
  font-size: 1.9rem;
  padding: 0 .5rem; }

.form__style {
  margin: 1.5rem auto;
  padding: 1.5rem;
  background-color: #6161614c;
  border-radius: 1.1rem;
  width: 95%; }

/*---------header---------*/
.header .logo {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  display: block;
  width: 25rem;
  height: 10rem; }
  .header .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.header .logCart {
  grid-column: 5 / 9;
  grid-row: 1 / 2;
  text-align: end; }
  .header .logCart a {
    text-decoration: none;
    font-weight: bold;
    color: #313131;
    display: inline-block;
    padding: .5rem 0; }
    .header .logCart a .fa-cart-flatbed-suitcase {
      color: #931616;
      width: 3rem;
      height: 2.5rem;
      margin: .5rem .5rem 0 0; }

.header .nav {
  grid-column: 1 / 9;
  grid-row: 4 / 5;
  justify-content: end; }

.header .contNavRes {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: none;
  background-color: inherit; }
  .header .contNavRes .respBCG {
    background-color: #CFCCCC; }
    .header .contNavRes .respBCG div ul li {
      border-bottom: rgba(0, 0, 0, 0.135) solid 0.3rem; }
      .header .contNavRes .respBCG div ul li:last-child {
        margin-bottom: 0.5rem; }

/*----------------nav----------------*/
.nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  gap: 1rem;
  margin-right: 9rem;
  align-items: center; }
  .nav ul li {
    border-radius: .6rem;
    display: inline-block;
    box-sizing: border-box; }
    .nav ul li a {
      text-decoration: none;
      color: #313131;
      font-size: 2.4rem;
      padding: 0.5rem; }
    .nav ul li:hover {
      background-color: #31313134; }

/*---------------------buscador-----------------*/
.buscador {
  background-color: inherit; }
  .buscador .buscNav {
    background-color: inherit; }
    .buscador .buscNav .contBuscador {
      justify-content: end; }

/*-------------------slider------------*/
.slider {
  margin: 1.5rem 0; }
  .slider .section__img {
    height: 30rem;
    grid-column: 1 / 9;
    grid-row: 1 / 4;
    position: relative;
    overflow: hidden;
    box-shadow: -2px 3px 15px 5px rgba(0, 0, 0, 0.08); }
    .slider .section__img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      animation-name: slider;
      animation-duration: 40s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
    .slider .section__img:nth-child(2) img {
      transform: translateX(-100%);
      animation-delay: 10s; }
    .slider .section__img:nth-child(3) img {
      transform: translateX(-100%);
      animation-delay: 20s; }
    .slider .section__img:nth-child(4) img {
      transform: translateX(-100%);
      animation-delay: 30s; }
  .slider .art-slide {
    grid-column: 6 / 9;
    grid-row: 2 / 5;
    width: 70%;
    height: 90%;
    color: #313131;
    margin: auto;
    position: relative;
    z-index: 10;
    background-color: #caeae5;
    box-shadow: -2px 3px 15px 5px rgba(0, 0, 0, 0.4);
    padding: 2rem 1.5rem;
    border-radius: .5rem; }
    .slider .art-slide h3 {
      border-bottom: rgba(0, 0, 0, 0.135) solid 0.3rem;
      padding-bottom: .5rem; }
    .slider .art-slide p {
      font-size: 1em; }

@keyframes slider {
  0% {
    z-index: 1;
    transform: translateX(0%); }
  24% {
    z-index: 1;
    transform: translateX(0%); }
  25% {
    z-index: 2;
    transform: translateX(0%); }
  35% {
    z-index: 2;
    transform: translateX(100%); }
  50% {
    z-index: 0;
    transform: translateX(100%); }
  75% {
    z-index: 0;
    transform: translateX(-100%); }
  100% {
    z-index: 0;
    transform: translateX(-100%); } }

.cont__tarjeta {
  padding: 0 3%; }
  .cont__tarjeta div div .dest__tarjeta {
    width: 90%;
    margin: 0  auto 2rem; }
    .cont__tarjeta div div .dest__tarjeta a {
      text-decoration: none;
      color: #313131; }
      .cont__tarjeta div div .dest__tarjeta a img {
        object-fit: cover;
        height: 17rem; }

.nosotros {
  margin: 4rem 0;
  border-top: rgba(0, 0, 0, 0.135) solid 0.3rem;
  border-bottom: rgba(0, 0, 0, 0.135) solid 0.3rem;
  padding: 2rem 0;
  overflow: hidden; }
  .nosotros div .nosotros__texto h3 {
    font-size: 5rem;
    padding: 1rem;
    color: #313131; }
  .nosotros div .nosotros__texto p {
    font-size: 2.2rem;
    padding: 1rem;
    color: #313131; }
  .nosotros div .nosotros__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left; }

.footer {
  background-color: #616161b0;
  padding: 1rem .5rem; }
  .footer div .terminos p {
    font-size: 1.3rem;
    color: #000; }
  .footer div .Fcont div p {
    font-size: 1.4rem;
    margin: 0; }
  .footer div .Fredes div a {
    font-size: 1rem;
    display: block;
    text-decoration: none; }
    .footer div .Fredes div a div {
      display: flex; }
      .footer div .Fredes div a div p {
        font-size: 1.3rem; }
      .footer div .Fredes div a div .fa-facebook, .footer div .Fredes div a div .fa-instagram {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: .5rem;
        color: #3b5998; }
      .footer div .Fredes div a div .fa-instagram {
        color: #C13584; }
      .footer div .Fredes div a div .fa-twitter {
        width: 2rem;
        height: 2rem;
        margin-right: .9rem; }

@media screen and (max-width: 991px) {
  .slider .art-slide {
    width: 90%; }
  .cont__tarjeta div div .dest__tarjeta {
    width: 100%; } }

@media screen and (max-width: 767px) {
  .header .logo {
    grid-column: 1 / 9;
    grid-row: 2 / 5;
    justify-self: center; }
  .nav {
    display: none; }
  .header .contNavRes {
    display: block; }
  .buscador {
    display: none; }
  .buttonLeft {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: #e8dede; }
  .footer div section div {
    width: 150px;
    margin: auto; }
  .nosotros div .nosotros__texto p {
    font-size: 2rem; }
  .nosotros div .nosotros__img {
    height: 45vh; }
    .nosotros div .nosotros__img img {
      object-position: bottom; }
  .slider .art-slide {
    grid-column: 3 / 7;
    grid-row: 3 / 5;
    width: 100%; } }

@media screen and (max-width: 576px) {
  .terminos {
    order: 1; }
  .footer section {
    width: 160px; }
  .slider .art-slide {
    grid-column: 2 / 8; } }

.contH1 {
  padding: 5rem;
  text-align: center; }
  .contH1 div {
    background-color: rgba(0, 0, 0, 0.135);
    box-shadow: -2px 3px 15px 5px rgba(0, 0, 0, 0.4); }
    .contH1 div h1 {
      font-size: 4rem;
      padding: 4rem 3rem;
      border-bottom: rgba(0, 0, 0, 0.135) solid 0.3rem; }
    .contH1 div p {
      font-size: 2rem;
      padding: 3rem 6rem; }
      @media (max-width: 576px) {
        .contH1 div p {
          padding: 2rem .5rem; } }
  @media (max-width: 767px) {
    .contH1 {
      padding: 3rem .5rem; } }

/*---------------vuelos-------------*/
.formVuelos p {
  margin: 0; }

.formVuelos form {
  display: flex;
  flex-direction: column;
  flex-wrap: 0.7rem; }
  .formVuelos form .vuelosRadio, .formVuelos form .paqRadio, .formVuelos form .disneyRadio {
    flex-flow: row;
    margin: .5rem  0; }
  .formVuelos form div .vuelosBoton {
    display: flex;
    justify-content: end; }

/*-----------------acceder-----------*/
.main .h1chico {
  justify-content: center; }
  .main .h1chico .contH1 {
    padding: 0;
    margin-top: 1.4rem;
    width: auto; }
    .main .h1chico .contH1 div {
      border-radius: 1.1rem; }
      .main .h1chico .contH1 div h1 {
        font-size: 3rem;
        padding: 1rem 2rem; }
      .main .h1chico .contH1 div p {
        padding: 1.5rem;
        font-size: 1.5rem; }

.main .acceso .acceso__formularios {
  justify-content: space-around;
  margin: 3rem 0; }
  .main .acceso .acceso__formularios .acceso__registro, .main .acceso .acceso__formularios .acceso-log {
    background-color: #6161614c;
    padding: 1.5rem;
    border-radius: 1.1rem;
    box-shadow: -2px 3px 15px 5px rgba(0, 0, 0, 0.4); }

/*----------------------disney---------------*/
.paquetesDisney {
  margin-bottom: 2rem; }
  .paquetesDisney .disneyPaq {
    justify-content: center; }
    .paquetesDisney .disneyPaq div {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center; }
      .paquetesDisney .disneyPaq div a {
        display: block;
        width: 80%;
        height: 70vh;
        overflow: hidden;
        border-radius: 2rem;
        text-decoration: none;
        color: #fff;
        box-shadow: -2px 3px 15px 5px rgba(0, 0, 0, 0.4); }
        .paquetesDisney .disneyPaq div a img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          filter: brightness(60%);
          transition: all .5s; }
          .paquetesDisney .disneyPaq div a img:hover {
            transform: scale(1.2);
            filter: brightness(100%); }
        .paquetesDisney .disneyPaq div a p {
          transform: translateY(-55px);
          text-align: center;
          font-size: 2.5rem;
          font-weight: bold; }

/*----------------disney15 fam--------------*/
.sli-disney {
  height: 55rem;
  width: 95%;
  margin: 3rem auto;
  background-color: white;
  border: 7px solid #fff;
  border-radius: 21px;
  overflow: hidden;
  gap: .5rem; }
  .sli-disney .section__img {
    height: 100%;
    grid-column: 1 / 6;
    grid-row: 1 / 4; }
  .sli-disney div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }
  .sli-disney div:nth-child(5) {
    grid-column: 6 / 9;
    grid-row: 2 / 4; }
  .sli-disney div:nth-child(6) {
    grid-column: 6 / 9;
    grid-row: 1 / 2; }
    .sli-disney div:nth-child(6) img {
      height: 13rem;
      object-position: center; }
  .sli-disney p {
    grid-column: 1 / 6;
    grid-row: 4 / 5; }
  .sli-disney .art-slide-disney {
    grid-row: 3 / 5;
    grid-column: 6 / 9;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-radius: 21px;
    padding: 15px 15px 10px 15px;
    background: white;
    background: radial-gradient(circle, white 0%, #cbcbcb 100%); }

.disney-15 .section__img iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1.1rem; }

.disney-15 div:nth-child(2) {
  grid-column: 6 / 9;
  grid-row: 2 / 4; }
  .disney-15 div:nth-child(2) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    object-position: bottom; }

.disney-15 div:nth-child(3) {
  grid-column: 6 / 9; }
  .disney-15 div:nth-child(3) img {
    height: 13rem;
    object-position: center; }

.disney-15 .art-slide-disney {
  width: 70%;
  height: 80%;
  margin: auto;
  box-shadow: -2px 3px 15px 5px rgba(0, 0, 0, 0.4); }

.textoDescr {
  padding: 0 2rem;
  margin: 2rem 0;
  color: #313131; }
  .textoDescr article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; }
    .textoDescr article h3 {
      text-align: center;
      font-size: 2.5rem; }
    .textoDescr article h5 {
      padding-top: 1rem;
      border-top: rgba(0, 0, 0, 0.135) solid 0.3rem;
      margin-top: 1.5rem;
      text-align: center;
      font-size: 1.9rem;
      padding-left: 4rem; }
    .textoDescr article p {
      font-size: 1.7rem; }
    .textoDescr article .textch {
      margin: 1rem 0;
      color: #000;
      width: 70%;
      text-align: center;
      align-self: center; }

/*-----------contacto-------------*/
.contacto {
  justify-content: center;
  margin-top: 1rem; }
  .contacto .columnaContacto form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center; }
    .contacto .columnaContacto form textarea {
      resize: none; }
  .contacto div {
    margin-bottom: 2rem; }
    .contacto div:nth-child(2) iframe {
      box-shadow: -2px 3px 15px 5px rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 75%; }

/*-----------carrito--------------*/
.carritoCont {
  justify-content: center; }
  .carritoCont .producto h4 {
    text-align: center;
    font-size: 2rem;
    margin: 1rem; }
  .carritoCont .producto div {
    display: flex;
    flex-flow: row;
    background-color: rgba(255, 255, 255, 0.401);
    box-sizing: content-box; }
    .carritoCont .producto div div {
      padding: 0;
      border-bottom: rgba(0, 0, 0, 0.135) solid 0.3rem; }
      .carritoCont .producto div div h5 {
        font-style: italic; }
      .carritoCont .producto div div img {
        width: 20rem;
        min-height: 13rem;
        padding: .3rem;
        object-fit: cover; }
      .carritoCont .producto div div:last-child {
        width: 20rem;
        background-color: rgba(255, 255, 255, 0.087); }
        .carritoCont .producto div div:last-child p {
          text-align: center;
          padding: .5rem 1rem; }
    .carritoCont .producto div .proDescr {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap; }
  .carritoCont .total h4 {
    text-align: center;
    font-size: 2rem;
    margin: 1rem; }
  .carritoCont .total div {
    height: 10rem;
    background-color: rgba(255, 255, 255, 0.401);
    display: flex;
    justify-content: space-between; }
    .carritoCont .total div:first-child {
      flex-grow: 1;
      flex-flow: column;
      padding: 1rem; }
    .carritoCont .total div .precfinal {
      background-color: rgba(255, 255, 255, 0.087);
      padding: 1rem;
      width: 10rem; }
  .carritoCont button {
    padding: .7rem;
    font-size: 2rem;
    width: 25rem;
    margin: 1rem 0; }
